@font-face {
    font-family: 'Kards数字复合字体';
    src: url('fonts/Kards数字复合字体.ttf') format('ttf');
}

@font-face {
    font-family: 'Kards文字复合字体Bold';
    src: url('fonts/Kards文字复合字体Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Kards文字复合字体Regular';
    src: url('fonts/Kards文字复合字体Regular.ttf') format('ttf');
}

body {
    font-family: 'Kards文字复合字体Regular', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    width: 500px;
    height: 702px;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    background-image: url('assets/模板.png');
    background-size: cover;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.card h2 {
    text-align: center;
    font-size: 40px;
    margin: 5px 0 0 0;
    position: relative;
    z-index: 2;
    font-family: 'Kards文字复合字体Bold', sans-serif;
}

.card .cost-fuel {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    font-family: 'Kards数字复合字体', sans-serif;
}

.card .card-image {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #ddd;
    margin: 60px 0;
    border-radius: 10px;
}

.card .unit-stats {
    position: absolute;
    bottom: 10px;
    left: 50%; /* 居中 */
    transform: translateX(-50%); /* 居中对齐 */
    color: white;
    display: flex;
    font-family: 'Kards数字复合字体', sans-serif;
    font-size: 40px;
    justify-content: center;
    gap: 220px; /* 调整数字间距 */
    z-index: 3;
}

.card .unit-stats .unit-name {
    display: none;
}

.card .unit-stats p {
    margin: 0 5px;
}

.card .unit-type {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Kards数字复合字体', sans-serif;
}

.card .attributes {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    color: #4e4e49;
    font-family: 'Kards文字复合字体Bold', sans-serif;
}

.card .effects {
    text-align: center;
    font-size: 20px;
    color: #0a0a0f;
    margin-top: 5px;
    font-family: 'Kards数字复合字体', sans-serif;
}

.wheel {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}